.ProductBottomText__text {
  margin: 14px 0;
  font-size: 13px;
  text-align: center;

  .Product[state='disabled'] & {
    color: #ffff66;
  }
  
  span {
    color: #1698d9;
  }

  i {
    font-style: normal;
    border-bottom: 1px dashed #1698d9;
    cursor: pointer;
  }

  body.no-mobile & i:hover {
    color: #2ea8e6;
  }
}